<h1>Editing detail</h1>

<%= render "form", detail: @detail %>

<br>

<div>
  <%= link_to "Show", person_detail_path(@detail.person, @detail)%> |
  <%= link_to "Back to details", person_details_path %>
</div>
