<p style="color: green"><%= notice %></p>

<h1>Details</h1>
<%= link_to "All people", people_path %>

<div id="details">
  <% @details.each do |detail| %>
    <%= render detail %>
  <% end %>
</div>

<%= link_to "New detail", new_person_detail_path %>
